#main {
  width: 500px;
  margin: auto;
}

#grid div {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 25px;
}

.bomb {
  background-color: palevioletred;
}

.hidden {
  background-color: gray;
}

button {
  margin: 12px;
}